<div style="width: 200px;height: 250px;border: 1px solid gray;margin-top: 10%;margin-left: 40%;">

 <img style="padding-left: 35%;margin-top: 5px;" src="../assets/logo.svg" alt="">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div style="padding-left: 20px;padding-top: 20px;">
      <label for="username">Enter Username</label>
      <input type="text" name="username" placeholder="user name" formControlName="username">
    </div>
    <div style="padding-left: 20px;padding-top: 20px;">
      <label for="password">Enter Password</label>
      <input type="password" name="password" placeholder="password" formControlName="password">
    </div>
    <div style="padding-left: 20px;padding-top: 20px;">
      <button type="submit">Login</button>
    </div>
  </form>
</div>


